#############################################
# Dan's Plugins Community Website Configuration
#############################################

# External links to social media and other websites
TOPBAR_DANSPLUGINS_GITHUB_ORGANIZATION_URL=https://github.com/Dans-Plugins
TOPBAR_DISCORD_SERVER_URL=https://discord.gg/xXtuAQ2
TOPBAR_PLAYTEST_SERVER_PMC_URL=https://www.planetminecraft.com/server/dan-s-plugins-community-playtest-server/
TOPBAR_PATREON_PAGE_URL=https://www.patreon.com/danspluginscommunity
TOPBAR_LINKEDIN_PAGE_URL=https://www.linkedin.com/company/dansplugins
TOPBAR_RPKIT_GITHUB_ORGANIZATION_URL=https://github.com/RP-Kit/RPKit
